<ion-view view-title="crowdTap">
  <ion-content>
  	<div id="googleMap" style="width:500px;height:380px;"></div>
    
  </ion-content>
</ion-view>
	<!-- <div id="googleMap" style="width:500px;height:380px;"></div>
	<div id="beerSearchArea">
		<div id="beerSearchBox" ng-hide="BeerCtrl.search_term">
			<form name="myForm">
			  <label>
			    <input type="text" name="input" placeholder="Beer" ng-model="BeerCtrl.beerparam">
			    <input type="text" name="input" placeholder="Location" ng-model="BeerCtrl.locparam">
			    <button ng-click="BeerCtrl.queryBrewDB()">Search!</button>
			  </label>
			</form>			
		</div>
		<div class="beerChoices" ng-show="BeerCtrl.search_term">
			<h3>Did you mean:</h3>
			<div class="beerChoice" ng-repeat="beer in BeerCtrl.beers">

				<img class="beerLogo" ng-src={{beer.labels.medium}} ng-click="BeerCtrl.selectBeer($index)">
			</div>
		</div>
	</div>
	</body> -->