<ion-view view-title="crowdTap">
  <ion-content>
  	
    <div ng-click="initializeMap(1,'mexico city')"></div>
    <div id="googleMap" style="width:100%;height:380px;"></div>
    <div id="beerSearchArea">
		<div id="beerSearchBox" ng-hide="search_term">
			<form name="myForm">
			  <label>
			    <input type="text" name="input" placeholder="Beer" ng-model="beer.beerparam" class="box">
			    <input type="text" name="input" placeholder="Location" ng-model="beer.locparam" class="box">
			  </label>
			</form>			
			<div class="button button-block button-positive" ng-click="queryBrewDB()">Search!</div>
		</div>
		<div class="beerChoices" ng-show="search_term">
			<h3>Did you mean:</h3>
			<div class="beerChoice" ng-repeat="beer in beers">

				<img class="beerLogo" ng-src={{beer.labels.medium}} ng-click="selectBeer($index)">
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
	