<div style='width: 100%;'>
  <div id="geolocation" style='height: 550px;'></div>
  <%= render "/layouts/home_map"  %>
</div>


<%= button_to "Add Beer", restaurants_path, :class => "button", :method => :get  %>


  <% if @beer.present?  %>
    <% @beer.each do |f| %>
      <%= f.name %>   
    <% end %>
  <% else %>
    <p>There are no beers containing the term(s) <%= params[:search_term] %>.</p>
  <% end %>



