<div style="width:100%;">
  <div id="search_map" style="width: 800%; height: 500px;">
    <%= render "search_map" %>
  </div>
</div>


<div class="col-md-16 col-md-offset-1">
  <h2>
    <%= "Restaurants Near: #{params[:location].titleize}" %>
  </h2>
  <table class="table table-striped table-hover">
    <thead>
      <th>Beer Name</th>
      <th>Restaurant</th>
      <th>Locations</th>
    </thead>
    <tbody>
      <% @beer.each do |b| %>
          <tr>
            <td>
            <%= link_to b.name, beer_path(b), method: "get" %>
            </td>   
              <td>
                <% b.restaurants.each do |r| %>
                  <%= link_to r.name, restaurant_path(r), method: "get" %>
              </td>
              <td>
                  
              </td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>