<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <%= form_tag({:controller=>"restaurants", :action=>"index"}, method: :get) do %>
      <%= text_field_tag :search_term %>
      <%= submit_tag 'Search for a Bar', name: nil %>
  <% end %>

</body>
</html>